@import '../../../styles/variables.scss';
.nav{
  border-bottom: 1px solid black;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  color: $primary-text-color;
  display: flex;
  @include breakpoint(sm){
    justify-content: center;
  }
  &-icon {
    margin-top: 0px;
    margin-left: 10px;
    display: inline-block;
    font-size: 2.3em;
    list-style-type: none;
    font-weight: 700;
    color: $primary-text-color;
  }
  &-burger { 
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    @include breakpoint(sm) {
      display: none !important;
    }
  }
  &-menu {
    padding: 7px;
    display: none;
    @include breakpoint(sm) {
      display: inline-block;
      margin-left: 300px;
    }
  }
}
