.featured {
  margin-top: 50px;
  height: 600px;
  @media (min-width: 960px) {
    margin-top: 100px;
  }
  &-gutters {
    padding: 0px 20px;
    @media (min-width: 768px) {
      padding: 0px 50px;
    }
  }
}

.card-arrow {
  margin-left: 5px;
  transition: 0.1s ease-in;
  transform: translateX(0px);
}

.card-button:hover {
  .card-arrow {
    transition: 0.1s ease-in;
    transform: translateX(4px);
  }
}