.card-arrow {
  margin-left: 5px;
  transition: 0.1s ease-in;
  transform: translateX(0px);
}

#card-button:hover {
  .card-arrow {
    transition: 0.1s ease-in;
    transform: translateX(4px);
  }
}

// turns the icons from black and white to colored when hovering over the card-item container div
.colored {
  transition: 0.2s ease-out;
  filter: saturate(0%) brightness(10%);
}

.card-item {
  cursor: default;
  h2 {
    &:hover {
      .colored {
        filter: saturate(100%) brightness(100%);
        transform: scale(1.25);
        transition: 0.2s ease-out;
      }
    }
  }
}
