.colored {
  transition: 0.2s ease-out;
  filter: saturate(0%) brightness(10%); }

.card-arrow {
  margin-left: 5px;
  transition: 0.1s ease-in;
  transform: translateX(0px); }

#card-button:hover .card-arrow {
  transition: 0.1s ease-in;
  transform: translateX(4px); }

.card-item {
  cursor: default; }
  .card-item h2:hover .colored {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.25);
    transition: 0.2s ease-out; }
