.footer {
  margin-top: 80px;
  margin-bottom: 30px; }
  .footer-links {
    display: flex;
    justify-content: flex-start; }
    .footer-links a {
      transition: 0.2s ease-in;
      margin-right: 20px;
      color: black; }
      .footer-links a:hover {
        transition: 0.2s ease-in;
        color: #3F51B5; }
  .footer-title-link {
    transition: 0.2s ease-in;
    color: #3F51B5; }
    .footer-title-link:hover {
      transition: 0.2s ease-in;
      color: #8591d5; }
