.jumbo {
  background: url("http://res.cloudinary.com/dmjolhdaq/image/upload/v1528271897/Portfolio/trianglify_3.png") no-repeat;
  background-size: auto 800px;
  margin-top: -50px;
  padding-top: 100px;
  color: #212121;
  display: flex;
  justify-content: center; }
  @media (min-width: 720px) {
    .jumbo {
      background-size: 100% 480px; } }
  @media (min-width: 990px) {
    .jumbo {
      background-size: 100% 490px; } }
  @media (min-width: 1003px) {
    .jumbo {
      background-size: 100% 540px; } }
  @media (min-width: 1200px) {
    .jumbo {
      background-size: 100% 580px; } }
  .jumbo-text {
    font-size: 0.70em; }
    @media screen and (min-width: 650px) {
      .jumbo-text {
        font-size: 0.9em;
        text-align: center; } }
    @media (min-width: 768px) {
      .jumbo-text {
        font-size: 1em; } }
    @media (min-width: 992px) {
      .jumbo-text {
        font-size: 1.2em; } }
    @media (min-width: 1200px) {
      .jumbo-text {
        font-size: 1.5em; } }
    .jumbo-text a {
      color: #3F51B5;
      transition: 0.15s ease;
      transform: translateY(0px); }
      .jumbo-text a:hover {
        color: #8591d5;
        transition: 0.15s ease;
        transform: translateY(-5px); }
  .jumbo-cards {
    display: flex;
    justify-content: center; }
